* {
    box-sizing: border-box;
    font: Century;
    font-weight: 300;
}

.center{
  display: block;
  margin-left: auto;
  margin-right: auto;
}


.my-nav{
  overflow: auto;
  background-color: #181818 ;
  padding-top: 30px;
  min-height: 70px;
  display: inline;
  font: Century;
  font-weight: 300;
  font-size: 17px;

}
.my-nav a:hover{

  color: #C0C0C0;
}

.my-nav a{
  color: white;
}

.greet {
  color: black;
}

#head{
  color: #FB928E;
}


a {
    text-decoration: none;
    color: inherit;
}

ul .inside{
    overflow: hidden;
    display: none;
  }
  
  .child {
    list-style-type: disc;
    list-style-type: none;
}

li a.panels {
    margin: .5em 0;
    width: 100%;
    display: block;
    background: #181818;
    color: #fefefe;
    padding: .75em;
    border-radius: 0.15em;
    transition: background .3s ease;
    text-decoration: none;
}

.acc-list a:hover {
    text-decoration: none;
    margin: .5em 0;
    background: #FEFEBE;
    color: black;
}

.containerbrew{
  padding-top: 25px;
  padding-bottom: 25px;
}

#theme .active{
  background: #FB928E;
}