{% extends 'base.html' %}
{% load static %}
{% block body %}


<div class="background-col">

  <div class="container">
  <header class="text-center py-5 mb-4">

       <h1 class="font-weight-bold" id="head">Sipityyy Profile</h1>

  </header>
  </div>

   <div class="container">
     <div>
       <div class="col-xl-5 col-md-5 center">
         <div class="card border-0 shadow">
           <img src="{% static 'img/erlin.jpg' %}" class="card-img-top" alt="...">
           <div class="card-body text-center">
             <h5 class="card-title mb-0">Earlene Shefila</h5>
             <ul class="list-unstyled mb-0">
               <a class="p-2 fa-lg tw-ic" href="https://twitter.com/sipityyy_" target="_blank" >
                 <i class="fab fa-twitter text-black-50"> </i>
               </a>
               <a class="p-2 fa-lg ins-ic" href="https://www.instagram.com/earleneshefila/" target="_blank">
                 <i class="fab fa-instagram text-black-50"> </i>
               </a>
              </ul>
             
           </div>
         </div>
       </div>

       <div class="col-md-7 center">
           <ul class="accordion child">

                <li class='acc-list'>
                        <a class="panels" href="#">Educations</a>
                        <ul class="inside">
                          <li>SDI Al-Azhar 8 Kembangan</li>
                          <li>SMPN 177 Jakarta</li>
                          <li>SMAN 47 Jakarta</li>
                          <li>University of Indonesia, Computer Science Undergraduate</li>
                        </ul>
                      </li>
       

               <li class='acc-list'>
                 <a class="panels" href="#">Organizational Experiences</a>
                 <ul class="inside">
                    <li>Head of Public Relation<b> OSIS SMAN 47 Jakarta</b> </li>
                    <li>Treasurer<b> PATTUPALA SMAN 47 Jakarta</b> </li>
                    <li>Staff of Public Relation<b> BEM Fasilkom UI</b> </li>
                 </ul>
               </li>

               <li class='acc-list'>
                <a class="panels" href="#">Committee Experiences</a>
                <ul class="inside">
                  <li>Project Officer <b>LDKS 27 SMAN 47 Jakarta</b> </li>
                  <li>Project Officer <b>Open House Fasilkom UI 2019</b> </li>
                  <li>Staff of Media Partner <b> COMPFEST 11</b> </li>
                  <li>Staff of Decoration <b> CGT 2019</b> </li>
                  <li>Staff of Seminar <b> Educare 2019</b> </li>
                </ul>
              </li>

              <li class='acc-list'>
                <a class="panels" href="#">Activities</a>
                <ul class="inside">
                <b>Belajar</b>
                </ul>
              </li>

              <li class='acc-list'>
                <a class="panels" href="#">Achievement</a>
                <ul class="inside">
                <b>Coming Soon</b> </li>
                </ul>
              </li>


          </div>
        </div>
        <div class="containerbrew">
          <button type="button" class="btn btn-danger nav-link center" id="pink">Pink?</button>
          <button type="button" class="btn btn-danger nav-link center" id="white">White!</button>
        </div>
</div>
{% endblock body %}
